# Strictly required
# before installation run 'pip install --upgrade pip' command
# otherwise installation errors would occur
numpy
scipy>=1.1.0
pytest
pytest-cov
pytest-rerunfailures
pylint
scikit-learn
networkx
torch>=1.0,<2.0
torchvision

# Additional
ipython
jupyter
jupyterlab
pandas
plotly
pyyaml
testfixtures
matplotlib
tqdm
word2vec
graphistry
wandb
seaborn

# Debug
Pympler